# Docker Compose 项目名（用于容器、网络、卷前缀）
COMPOSE_PROJECT_NAME=vtserver
# PostgreSQL 数据库名
POSTGRES_DB=gis
# PostgreSQL 用户名
POSTGRES_USER=postgres
# PostgreSQL 用户密码
POSTGRES_PASSWORD=postgres
# PostgreSQL 宿主机映射端口
POSTGRES_PORT=5432
# Martin 服务宿主机映射端口
MARTIN_PORT=3000

# 可选：PostgreSQL 数据输出的宿主机目录。
POSTGIS_DATA_DIR=../resource/vtserver/pgdata

# 可选：用于 `make import` 的输入 GeoJSON 目录。设置为包含 raw/ 和 elements/ 数据的根目录。
OSM_GEOJSON_INPUT_DIR=../resource/geojsonData
# OSM_GEOJSON_RAW_DIR：raw GeoJSON 目录（示例）
# OSM_GEOJSON_RAW_DIR=/absolute/path/to/raw
# OSM_GEOJSON_ELEM_DIR：elements GeoJSON 目录（示例）
# OSM_GEOJSON_ELEM_DIR=/absolute/path/to/elements

# PostGIS 镜像地址
POSTGIS_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/postgis/postgis:16-3.4
# Martin 镜像地址
MARTIN_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/ghcr.io/maplibre/martin:latest-linuxarm64
